/*AnchorPane {*/
/*    -fx-background-color: black;*/
/*}*/

/*.label{*/
/*    -fx-text-fill: #ffd700;*/
/*}*/

/*.text-field {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-text-fill: #ffd700;*/
/*    -fx-prompt-text-fill: #A39458;*/
/*    -fx-background-radius: 10;*/
/*    -fx-border-radius: 10;*/
/*    -fx-border-color: black;*/
/*}*/

/*.text-field:focused {*/
/*    -fx-border-color: #1f1f1f;*/
/*}*/

/*.text-area {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-text-fill: #ffd700;*/
/*    -fx-background-radius: 10;*/
/*    -fx-border-radius: 10;*/
/*    -fx-border-color: black;*/
/*}*/

/*.text-area .scroll-pane .viewport {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*.text-area .scroll-pane .content {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*.text-area:focused {*/
/*    -fx-border-color: #1f1f1f;*/
/*}*/

/*.button {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-border-color: #363636;*/
/*    -fx-text-fill: #ffd700;*/
/*    -fx-border-radius: 10;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*.scroll-bar:vertical .track {*/
/*    -fx-background-color: #1a1a1a;*/
/*    -fx-background-insets: 0;*/
/*    -fx-background-radius: 5em;*/
/*}*/

/*.scroll-bar:vertical .thumb {*/
/*    -fx-background-color: #ffd700;*/
/*    -fx-background-insets: 0;*/
/*    -fx-background-radius: 5em;*/
/*}*/

/*.scroll-bar:vertical .increment-button,*/
/*.scroll-bar:vertical .decrement-button {*/
/*    -fx-background-color: #1f1f1f;*/
/*    -fx-background-insets: 0;*/
/*    -fx-background-radius: 5em;*/
/*}*/

/*.scroll-bar:vertical .increment-arrow,*/
/*.scroll-bar:vertical .decrement-arrow {*/
/*    -fx-background-color: #ffd700;*/
/*}*/

/*.scroll-pane .track-background {*/
/*    -fx-background-color: #1f1f1f;*/
/*}*/

/*#pilha {*/
/*    -fx-font-size: 12.5;*/
/*}*/

/*Rectangle {*/
/*    -fx-fill: #ADFF2F;*/
/*    -fx-opacity: 0.3;*/
/*}*/

AnchorPane {
    -fx-background-color: #111111;
}

.label{
    -fx-text-fill: #01e2f2;
}

.text-field {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #01e2f2;
    -fx-prompt-text-fill: #4682B4;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #1f1f1f;
}

.text-field:focused {
    -fx-border-color: #1f1f1f;
}

.text-area {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #01e2f2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #111111;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area .scroll-pane .content {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area:focused {
    -fx-border-color: #1f1f1f;
}

.button {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #363636;
    -fx-text-fill: #01e2f2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #1a1a1a;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}



.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb{
    -fx-background-color: #01e2f2;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button{
    -fx-background-color: #1f1f1f;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #01e2f2;
}

.scroll-pane .track-background {
    -fx-background-color: #1f1f1f;
}

#pilha {
    -fx-font-size: 12.5;
}

#highlightMacro {
    -fx-fill: #01e2f2;
    -fx-opacity: 0.3;
}

#caixaMemoriaRascunho, #caixaBuscarMemoria, #caixaExecutarAtePc, #caixaRegistradores, #caixaExecucao {
    -fx-fill: #1f1f1f;
    -fx-arc-width: 20;
    -fx-arc-height: 20;
}

#executarTudo, #pausar {
    -fx-background-color: #00FFFF;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
}

#macroprograma, memoriaEmBinario, memoriaEmDecimal {
    -fx-font: Monospace;
}