.root {
    -fx-border-color: #ffd700; /* Vermelho */
    -fx-border-width: 3px;      /* Largura da borda */
    -fx-border-radius: 10px;    /* Arredondar os cantos */
}

AnchorPane {
    -fx-background-color: black;
}

.label{
    -fx-text-fill: #ffd700;
}

.button {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #363636;
    -fx-text-fill: #ffd700;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}