.root {
    -fx-border-color: #01e2f2; /* Vermelho */
    -fx-border-width: 3px;      /* Largura da borda */
    -fx-border-radius: 10px;    /* Arredondar os cantos */
}

AnchorPane {
    -fx-background-color: #111111;
}

.label{
    -fx-text-fill: #01e2f2;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #363636;
    -fx-text-fill: #01e2f2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}