AnchorPane {
    -fx-background-color: black;
}

.label{
    -fx-text-fill: #01e2f2;
}

.text-area {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #01e2f2;
    -fx-prompt-text-fill: #48638C;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.choice-box {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #01e2f2;
    -fx-prompt-text-fill: #48638C;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.choice-box > .label {
    -fx-text-fill: #00ffff;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: #00ffff;
}

.choice-box .context-menu {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #363636;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: #00ffff;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area .scroll-pane .content {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area:focused {
    -fx-border-color: #1f1f1f;
}

.button {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #363636;
    -fx-text-fill: #01e2f2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #1a1a1a;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #01e2f2;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #1f1f1f;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #01e2f2;
}

.scroll-pane .track-background {
    -fx-background-color: #1f1f1f;
}