AnchorPane {
    -fx-background-color: black;
}

.label{
    -fx-text-fill: #ffd700;
}

.text-area {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffd700;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area .scroll-pane .content {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 10;
}

.text-area:focused {
    -fx-border-color: #1f1f1f;
}

/*.rectangle {*/
/*    -fx-fill: white;*/
/*    -fx-opacity: 0.12;*/
/*    -fx-arc-width: 30;*/
/*    -fx-arc-height: 30;*/
/*}*/

.button {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #2d2d2d;
    -fx-text-fill: #ffd700;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Estiliza o trilho da barra de rolagem */
.scroll-bar:vertical .track {
    -fx-background-color: #1a1a1a; /* Cinza escuro para o trilho */
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

/* Estiliza a parte que você arrasta (o "thumb") */
.scroll-bar:vertical .thumb {
    -fx-background-color: #ffd700; /* Vermelho do seu tema */
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

/* Estiliza os botões de incremento e decremento */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #1f1f1f;
    -fx-background-insets: 0;
    -fx-background-radius: 5em;
}

/* Estiliza as setas de incremento e decremento */
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #ffd700; /* As setas ficam vermelhas */
}

.scroll-pane .track-background {
    -fx-background-color: #1f1f1f;
}